.logo {
  display: flex;
  width: 166px; height: 46px;
  img {
    width: 100%; height: 100%;
    object-fit: contain;
  }
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  margin-left: auto;
  > a:first-child {
    color: var(--header-text);
    -webkit-text-stroke: 0.5px var(--header-text);
    text-decoration: none;
    font: 14px 'BPG LE Studio 02 Caps';
    line-height: 19px;
  }
  &::after, &::before {
    content: '';
    background: #E9E9E9;
    width: 1px; height: 36px;
    top: 5px;
    position: absolute;
  }
  &::after { left: 168px; }
  &::before { right: 129px; }
}

.login {
  background: linear-gradient(180deg, #29a7ff 0.00%, #128aff 100.00%);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 14px 'BPG Mrgvlovani';
  line-height: 19px;
  width: 105px; height: 45px;
  transition: all 0.3s ease;
  &:hover { background: linear-gradient(180deg, #27A5FF 0.00%, #107DF1 100.00%); }
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menuItem {
  cursor: pointer;
  position: relative;
}

.menuItem.active .prodMenu, .menuItem.active .aboutUsMenu,
.menuItem.active .supportMenu { display: flex; }

.menuHead, .menuItem > a {
  color: var(--header-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font: 14px 'BPG Mrgvlovani';
  line-height: 19px;
  padding: 35px 0;
  transition: all 0.3s ease;
  svg { fill: var(--header-text); transition: all 0.3s ease; }
}

.menuItem:hover .menuHead, .menuItem:hover > a {
  color: var(--primary-color); 
  svg { fill: var(--primary-color); }
}

.prodMenu {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  display: none;
  position: absolute;
  max-width: 1206px;
  left: -216px; top: 100%;
}

.aboutUsMenu {
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  display: none;
  justify-content: space-between;
  position: absolute;
  left: -40px; top: 100%;
  padding: 33px 45px 33px 40px;
  min-width: 475px;
  &::before {
    content: '';
    background: #E9E9E9;
    width: 1px; height: calc(100% - 66px);
    position: absolute;
    right: 200px; top: 33px;
  }
}

.menuSection {
  > p {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 14px 'Helvetica Medium';
    line-height: 17px;
    margin-bottom: 30px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      color: #5C5F62;
      text-decoration: none;
      font: 14px 'Helvetica medium';
      line-height: 17px;
      transition: all 0.3s ease;
      &:hover { color: var(--primary-color); }
    }
  }
}

.menuToggle { display: none; }
.findProduct {
  background: #F2F2F2;
  display: flex;
  align-items: center;
  width: 100%;
  input {
    background: transparent;
    border: none;
    color: #757575;
    font: 12px 'BPG Mrgvlovani';
    line-height: 16px;
    padding-left: 40px;
    width: calc(100% - 50px); height: 50px;
    &:focus { outline: none; }
  }
  button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px; height: 50px;
  }
}

.mobRegister, .mobLogin {
  background: #e9e9e9;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 14px 'BPG Mrgvlovani';
  line-height: 19px;
  width: calc(100% - 40px); height: 40px;
  margin: 0 auto;
}
.mobLogin { 
  background: var(--primary-color);
  color: white;
  margin: 20px auto 10px; 
}

.mobActions {
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.warningLink {
  background: var(--primary-color);
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font: 10px 'BPG Mrgvlovani';
  line-height: 13px;
  height: 40px;
  padding: 0 20px;
  transition: all 0.3s ease;
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  &:hover { background: #0C82FF; }
}

.supportMenu {
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  display: none;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: -40px; top: 100%;
  padding: 30px 40px;
  width: 275px;
  a {
    color: #5C5F62;
    text-decoration: none;
    font: 14px 'Campton Medium', 'Helvetica Medium';
    line-height: 17px;
    transition: all 0.3s ease;
    &:hover { color: var(--primary-color); }
  }
}

@media screen and (max-width: 1230px) {
  .headerActions { 
    gap: 30px; 
    &::before { right: 120px; }
    &::after { left: 160px; }
  }

  .prodMenu { left: -180px; }
}

@media screen and (max-width: 1023px) {
  .menu { display: none; }
  .headerActions {
    margin-left: 0;
    > a { display: none; }
    &::before, &::after { content: none; }
  }
  .menuToggle { display: flex; }
}