.newsSwiper { padding: 7px 3px 10px !important; width: 100%; }
.newsSlide { width: 388px !important; }

@media screen and (max-width: 767px) {
  .newsSlide { width: 350px !important; }
  .newsSwiper { margin-bottom: 20px; }
}