.bannerCont { padding: 30px 20px 0; position: relative;}
.bannerSwiper { height: 495px; border-radius: 10px 10px 0 0; width: 100%;}

.firstBannerCont {
  background: url("../../img/forest.png") center / cover no-repeat;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; height: 100%;
  padding-top: 90px;
  position: relative;
  &::after {
    content: '';
    background: rgba(20, 101, 82, 0.31);
    border-radius: 10px 10px 0 0;
    position: absolute;
    inset: 0;
    z-index: 1;
  }
  > * { position: relative; z-index: 2; }
}

.firstBanner {
  max-width: 870px;
  width: 100%;
}

.head {
  margin-bottom: 45px;
  > p:first-child {
    color: white;
    font: 40px 'Gilroy GEO';
    line-height: 50px;
  }
  > p:nth-child(2) {
    color: white;
    font: 30px 'Helvetica Roman';
    line-height: 35px;
  }
}

.compare {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  div {
    border-right: 1px solid #E9E9E9;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 9px 32px;
    &:first-child { border-radius: 5px 0 0 5px; }
  }
  div > span:first-child {
    font: 14px 'Campton Medium', 'Helvetica Medium';
    line-height: 17px;
  }
  div > span:last-child {
    color: #979797;
    font: 10px 'Helvetica Roman';
    line-height: 12px;
  }
}

.compareLink {
  background: #F5F5F5;
  border-radius: 0 5px 5px 0;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font: 14px 'Helvetica Medium';
  line-height: 17px;
  padding: 16.5px 10px 16.5px 27px;
  min-width: 213px;
  transition: all 0.3s ease;
  img { filter: brightness(0) invert(0);}
  &:hover { gap: 15px; }
}

.SecondBanner {
  background: url("../../img/bannerbg.png") center / cover no-repeat;
  border-radius: 10px 10px 0 0;
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  > img {
    max-width: 495px;
    object-fit: contain;
  }
}

.secondText {
  max-width: 423px;
  a {
    background: var(--primary-color);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 16px 'BPG Mrgvlovani';
    line-height: 19px;
    width: 170px; height: 40px;
    transition: all 0.3s ease;
    &:hover { background: var(--hover-color); }
  }
}

.secondText p:first-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 38px; line-height: 45px;
  span:first-child { font-family: 'Helvetica Roman'; }
  span:last-child { font-family: 'Helvetica Bold'; }
}

.secondText p:nth-child(2) {
  color: #5C5F62;
  font: 16px 'Helvetica Roman';
  line-height: 20px;
  margin-bottom: 30px;
}

.thirdBanner {
  background: radial-gradient(farthest-corner at 50% 92%, #2fc4fc 0%, #6f83f2 35%, #222633 100%);
  width: 100%; height: 100%;
  display: flex;
  align-items: center;
  gap: 69px;
  padding: 0 120px;
}

.thirdText {
  color: white;
  max-width: 420px;
  > p:first-child {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  span:first-child { font: 30px 'Helvetica Roman'; line-height: 36px; }
  span:last-child { font: 40px 'Helvetica Bold'; line-height: 45px; }
  p:last-child { font: 16px 'Helvetica Roman'; line-height: 20px; margin-bottom: 0; }
}

@media screen and (max-width: 1023px) {
  .SecondBanner {
    padding: 0 20px;
    > img { max-width: 300px; }
  }

  .thirdBanner {
    padding: 0 20px;
    gap: 10px;
  }
}

@media screen and (max-width: 950px) {
  .firstBannerCont { padding: 50px 20px 0; }
}

@media screen and (max-width: 767px) {
  .bannerSwiper { height: 600px; border-radius: 10px; } 
  .compare { flex-direction: column; }

  .compare div {
    border-right: none;
    border-bottom: 1px solid #E9E9E9;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 20px;
    &:first-child { border-radius: 5px 5px 0 0; padding-top: 20px; }
    &:last-of-type { padding-bottom: 10px; }
    > span span {
      color: var(--primary-color);
      font: 16px 'Campton Medium', 'Helvetica Medium';
      line-height: 20px;
      margin-right: 3px;
    }
  }

  .compareLink {
    border-radius: 0 0 5px 5px;
    justify-content: center;
  }
  .head > p:nth-child(2) { font-size: 24px; line-height: 26px; }

  .SecondBanner {
    padding: 60px 30px 0;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
    gap: 60px;
  } 

  .thirdBanner {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 20px;
  }

  .thirdText {
    max-width: unset;
    p:first-child { margin-bottom: 15px ;}
    span:first-child { font-size: 20px; line-height: 24px; }
    span:last-child { font-size: 25px; line-height: 30px; }
    p:last-child { font-size: 12px; line-height: 16px; }
  }
}

.progressWrapper {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  position: absolute;
  bottom: 0; z-index: 1000;
  width: 100%; max-width: 1206px;
}

.progressItem {
  flex: 1;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background: #d12528;
    position: absolute;
    inset: 0; width: 0%;
  }
  &.active::after { animation: fillLine 10s linear forwards; }
}

@keyframes fillLine {
  from { width: 0%; }
  to { width: 100%; }
}

@media screen and (max-width: 500px) {
  .secondText {
    display: flex;
    flex-direction: column;
    max-width: unset;
    height: 100%;
    a { margin: auto auto 0; }
    p:first-child { font-size: 23px; line-height: 27px; }
    p:nth-child(2) { margin-bottom: 0; }
  }

  .SecondBanner {
    padding: 60px 30px 90px;
    > img {
      position: absolute;
      bottom: 170px; left: 50%;
      transform: translateX(-50%);
      max-width: 275px;
    }
  }
}