.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.19);
  padding: 50px 27px 20px;
  width: 288px; height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 300;
  transition: all 0.3s ease;
  a {
    background: white;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 11px 'BPG Mrgvlovani';
    line-height: 13px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    width: 100%; height: 40px;
    &:hover { background: #F5F6F7; border-color: #F5F6F7; }
  }
}

.card::after, .card::before {
  content: '';
  background: url("../../img/dot.svg") center / cover no-repeat;
  position: absolute;
  top: 16px;
  width: 6px; height: 6px;
}
.card::after { left: 12px; }
.card::before { right: 12px; }

.card:hover { height: 580px; }
.card1:hover { height: 650px; }

.tag { 
  background: linear-gradient(180deg, #29a7ff 0.00%, #128aff 100.00%);
  border-radius: 0 0 20px 20px;
  color: white;
  display: none; 
  align-items: center;
  justify-content: center;
  width: 210px; height: 33px;
  font: 11px 'BPG Mrgvlovani';
  line-height: 13px;
  position: absolute;
  top: 0; left: 50%;
  transform: translateX(-50%);
}

.popular { 
  border: 1px solid var(--primary-color);
  .tag { display: flex; }
}

.name {
  color: #888888;
  font: 28px 'BPG Mrgvlovani Caps 2010';
  line-height: 37px;
  margin-bottom: 9px;
  text-align: center;
}

.price {
  margin-bottom: 25px;
  text-align: center;
  span:first-child { font: 30px 'BPG Mrgvlovani Caps 2010'; line-height: 40px; }
  span:nth-child(2) { font: 14px 'BPG Mrgvlovani Caps 2010'; line-height: 19px; margin-right: 3px; }
  span:last-child { color: #888888; font: 10px 'Helverica Roman'; line-height: 13px; }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service {
  color: #888888;
  display: flex;
  align-items: center;
  gap: 12px;
  font: 10px 'Campton Medium';
  line-height: 13px;
  div {
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; height: 30px;
  }
}

.service:last-child div { background: #E9E9E9; }

.services .service { display: none; }
.services .service:nth-child(-n+5) { display: flex; }
.card:hover .services .service { display: flex; }

.seeMore {
  color: var(--primary-color);
  cursor: pointer;
  font: 8px 'BPG Mrgvlovani';
  line-height: 11px;
  position: absolute;
  bottom: 20px; left: 27px;
  opacity: 1;
  transition: all 0.3s ease;
  path {
    stroke-linecap: round;
    stroke-linejoin: round; 
    stroke-width: 0.8
  }
  span { margin-right: 6px; }
}

.card:hover .seeMore {
  opacity: 0;
  pointer-events: none;
}

/* for infopreview module */
.card2 { padding: 50px 17px 20px !important; width: 265px !important; box-shadow: none !important; }
.card2 .seeMore { display: none !important; }
.card2, .card2:hover { height: 395px !important; }

.card2 .services .service, .card2:hover .services .service { display: none !important; }
.card2 .services .service:nth-child(-n+3), .card2:hover .services .service:nth-child(-n+3) { display: flex !important; }
.card2 .services .service:last-child, .card2:hover .services .service:last-child  { display: flex !important; }

@media screen and (max-width: 1230px) {
  .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16); 
    height: 580px; 
  }
  .card1 { height: 650px; }
  .seeMore { display: none; }
  .services .service { display: flex; }
}