.form {
  background: rgba(255, 255, 255, 0.23);
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 10px;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.08);
  padding: 10px;
  display: grid;
  grid-template-columns: 600fr 50fr 170fr;
  margin-bottom: 45px;
  gap: 14px;
}

.inputCont {
  position: relative;
  span {
    font: 16px 'BPG LE Studio 02 Caps';
    line-height: 21px;
    position: absolute;
    left: 20px; top: 9px;
  }
}

.search {
  background: white;
  border: none;
  border-radius: 5px;
  font: 16px 'BPG LE Studio 02 Caps';
  line-height: 21px;
  padding: 0 20px 0 69px;
  width: 100%; height: 40px;
  &:focus { outline: none; }
}

.form button {
  background: linear-gradient(180deg, #29a7ff 0.00%, #128aff 100.00%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: white;
  cursor: pointer;
  font: 14px 'BPG Mrgvlovani';
  line-height: 19px; height: 40px;
  transition: all 0.3s ease;
  &:hover { background: linear-gradient(180deg, #27A5FF 0.00%, #107DF1 100.00%); }
}

.extensions {
  font: 14px 'BPG LE Studio 02 Caps';
  line-height: 19px;
  position: relative;
  div {
    background: #F8F8F8;
    border-radius: 10px;
    color: #434343;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; height: 40px;
    -webkit-text-stroke: 0.5px #434343;
  }
  &.littleFont { font-size: 10px; }
}

.extensions ul {
  background: var(--primary-color);
  border-radius: 0 0 10px 10px;
  color: white;
  cursor: pointer;
  list-style: none;
  display: none;
  align-items: center;
  flex-direction: column;
  font: 14px 'BPG LE Studio 02 Caps';
  line-height: 19px;
  gap: 20px;
  padding: 18px 0;
  margin: 0; left: -20px; top: 100%;
  width: 90px; position: absolute; 
}

.extensions.active ul { display: flex; }

@media screen and (max-width: 767px) {
  .form { 
    background: transparent;
    border: none;
    grid-template-columns: 60fr 250fr;
    gap: 10px;
    padding: 0;
    margin-bottom: 30px; 
    button { height: 50px; }
  }

  .inputCont {
    background: rgba(255, 255, 255, 0.23);
    border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 10px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.08);
    padding: 10px;
    grid-column: span 2;
    span { top: 19px; left: 30px; }
  }

  .extensions {
    div { height: 50px; }
    ul {
      border-radius: 10px;
      width: 100%;
      left: 0; top: calc(100% + 5px); 
    }
  }
}