.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
  width: 100%; height: 500px;
  position: relative;
  perspective: 500px;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }
  > * { position: relative; z-index: 2; }
}

.logo {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 12px 17px 7px;
  z-index: 3;
}

.websiteImg {
  position: absolute;
  top: 140px;
  transition: transform 0.15s ease-out;
  transform-style: preserve-3d;
}

@media screen and (max-width: 1023px) {
  .card { height: 400px; }
  .websiteImg { max-width: 330px; }
}