.packagesCont {
  background: #F9FAFB;
  padding: 0 20px 50px;
}

.packagesHead {
  background: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px 10px;
  margin-bottom: 30px;
}

.packagesHead > * {
  background: #E8F0F7;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font: 16px 'Campton Medium';
  line-height: 21px;
  width: 155px; height: 50px;
  position: relative;
  transition: all 0.3s ease;
  &:hover { background: #D5EEFF; }
  &.active { 
    color: white; 
    img { filter: brightness(0) invert(1); }
    &::after { opacity: 1; }
  }
  &::after {
    content: '';
    background: linear-gradient(#29a7ff 0%, #128aff 100%);
    border-radius: 10px;
    position: absolute;
    inset: 0; opacity: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }
  > * { position: relative; z-index: 2; }
}
.packagesHead > a { width: 130px; }

.packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 460px;
  overflow: visible;
}

.packagesSwiper { display: none; }

@media screen and (max-width: 1230px) {
  .packages { display: none; }
  .packagesSwiper {
    display: block;
    padding: 10px;
    width: 100%;
    > div > div { width: 288px !important; }
  }

  .packagesHead { margin-bottom: 20px; }
}

@media screen and (max-width: 767px) {
  .packagesHead {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .packagesHead {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    > * { width: 100% !important; }
  }
}