@import './font.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #1492E6;
  --hover-color: #26A0F1;
  --header-text: #434343;
}

body { overflow-x: hidden; }

@-moz-document url-prefix() {
  html {
    scrollbar-width: thin;
    scrollbar-color: #D5D5D5 #F1F1F1;
  }
}

html::-webkit-scrollbar {
  width: 5px; 
}

html::-webkit-scrollbar-thumb {
  background: #E6E6E6; 
  height: 87px;
  border-radius: 3px;
}

.Container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.content, .content1 {
  display: flex;
  width: 100%;
  max-width: 1206px; 
}

.content1 { flex-direction: column; }

header {
  background: #F8F8F8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06);
  height: 90px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
} 

.header-content {
  align-items: center;
  gap: 50px;
}

.language-change {
  display: flex;
  align-items: center;
  gap: 8px;
  span:first-of-type {
    color: #5C5F62;
    font: 12px 'Campton Medium';
    line-height: 16px;
    min-width: 25px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 18px;
  input { opacity: 0; width: 0; height: 0; }
}
  
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #E9E9E9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  &::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background: linear-gradient(180deg, #29a7ff 0.00%, #128aff 100.00%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

footer {
  background: linear-gradient(133deg, #434a56 0.00%, #121418 100.00%);
  padding: 80px 20px 40px !important;
}

.socials {
  display: flex;
  gap: 15px;
  a {
    background: rgba(255,255,255,0.18);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 30px; height: 30px;
    transition: all 0.3s ease;
    &:hover { background: #d12626; }
  }
}

.footer-content .language-change span:first-child { color: white; }
.footer-content .slider { background: rgba(243, 244, 246, 0.12); }

.newsPreview {
  background: #F9FAFB;
  padding: 80px 20px 50px;
}

.newsDate {
  color: #787878;
  display: flex;
  align-items: center;
  gap: 8px;
  font: 14px 'Campton Medium', 'Helvetica Roman';
  line-height: 17px;
}

.learnMore {
  color: var(--primary-color);
  text-decoration: none;
  font: 14px 'Helvetica Medium';
  line-height: 17px;
  height: 17px ;
  position: relative;
  width: 105px;
  svg {
    position: absolute;
    top: 5px; right: 0;
    transition: all 0.3s ease;
  }
  path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
  span {
    position: absolute;
    left: 0; width: 76px;
    transition: all 0.3s ease;
  }
}

.learnMore:hover svg { right: -8px; }
.learnMore:hover span { left: -8px; }

.newsSwiperCont {
  background: #F9FAFB;
  padding: 0 20px 60px;
}

.portfolioSwiper .swiper-slide:nth-child(3n - 2) > a:first-child,
.portfolioGrid > div:nth-child(3n - 2) > a:first-child  { background: url('../../img/swiperbg1.png') no-repeat center/cover; }
.portfolioSwiper .swiper-slide:nth-child(3n - 2) > a:first-child::after,
.portfolioGrid > div:nth-child(3n - 2) > a:first-child::after { background: #F6F6F6; }
.portfolioSwiper .swiper-slide:nth-child(3n - 2) > a:first-child:hover::after,
.portfolioGrid > div:nth-child(3n - 2) > a:first-child:hover::after { background: rgba(246,246,246,0.81); }

.portfolioSwiper .swiper-slide:nth-child(3n - 1) > a:first-child,
.portfolioGrid > div:nth-child(3n - 1) > a:first-child { background: url('../../img/swiperbg2.png') no-repeat center/cover; }
.portfolioSwiper .swiper-slide:nth-child(3n - 1) > a:first-child::after,
.portfolioGrid > div:nth-child(3n - 1) > a:first-child::after { background: #E9E9E9; }
.portfolioSwiper .swiper-slide:nth-child(3n - 1) > a:first-child:hover::after,
.portfolioGrid > div:nth-child(3n - 1) > a:first-child:hover::after { background: rgba(233,233,233,0.61); }

.portfolioSwiper .swiper-slide:nth-child(3n) > a:first-child,
.portfolioGrid > div:nth-child(3n) > a:first-child { background: url('../../img/swiperbg3.png') no-repeat center/cover; }
.portfolioSwiper .swiper-slide:nth-child(3n) > a:first-child::after,
.portfolioGrid > div:nth-child(3n) > a:first-child::after { background: #D1D1D1; }
.portfolioSwiper .swiper-slide:nth-child(3n) > a:first-child:hover::after,
.portfolioGrid > div:nth-child(3n) > a:first-child:hover::after { background: rgba(209,209,209,0.68); }

.noDetailsFound {
  color: var(--primary-color);
  font: 20px 'BPG Mrgvlovani Caps 2010';
  line-height: 24px;
  text-align: center;
}

.news-cont { 
  padding: 30px 20px; 
  .content {
    align-items: flex-start;
    gap: 40px;
  }
}

.share {
  display: flex;
  align-items: center;
  gap: 20px;
  > span {
    color: #2B2B2B;
    font: 12px 'Campton Light', 'Helvetica Roman';
    line-height: 16px;
  }
}

.share > div {
  display: flex;
  gap: 10px;
  > * {
    background: #F2F2F2 !important;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; height: 35px;
    transition: all 0.3s ease;
    &:hover {
      background: var(--primary-color) !important;
      img { filter: brightness(0) invert(1); }
    }
  }
  img { transition: all 0.3s ease; }
}

.aboutCont { padding: 70px 20px; }
.designCont { 
  background: #F9FAFB;
  padding: 50px 20px 40px; 
}

.pageTitle {
  color: black;
  font: 30px 'Campton Medium', 'Helvetica Medium';
  line-height: 36px;
  margin-bottom: 20px;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
}