.mobCat {
  border-bottom: 1px solid #E9E9E9;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 39px;
  font: 14px 'BPG Mrgvlovani';
  line-height: 19px;
}