.contentCont {
  background: #F9FAFB; 
  padding: 50px 20px 110px !important; 
}

.contentText {
  background: white;
  border: 1px solid #E2E8F0;
  border-radius: 20px;
  color: #2E2E2E;
  font: 14px 'BPG Mrgvlovani';
  line-height: 19px;
  padding: 30px 40px 70px;
  * { font-family: "BPG Mrgvlovani" !important; }
  ul { padding-left: 15px; }
}

@media screen and (max-width: 767px) {
  .contentCont { padding: 30px 20px 100px !important; }
  .contentText { 
    font-size: 12px;
    line-height: 16px;
    padding: 30px 20px 40px; 
  }
}